body {
  font-family: 'Flux Architect';
  background-color: #b72924;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #b72924;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
  max-width: 17%;
  height: auto;
  margin-bottom: 10px;
}

.site-header nav {
  margin-top: 10px;
}

.site-header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: text-decoration 0.3s;
}

.site-header nav a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.character-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  flex: 1 1 16%;
  max-width: 16%;
  text-align: center;
  box-shadow: 0 0 10px #d73732;
  border: 2px solid black;
  transition: transform 0.3s ease;
}

.character-card:hover {
  transform: scale(1.03);
}

.character-card img {
  width: 100%;
  object-fit: cover;
  border: 2px solid black
}

.character-card h2 {
  font-family: 'Century';
  color: #000000;
  margin: 10px 0 5px;
}

.character-card p {
  font-family: 'Century';
  color: #000000;
  font-size: 14px;
  margin: 0 0 10px;
}

.character-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #d73732;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.character-card a:hover {
  background-color: #d73732;
}

.site-footer {
  background-color: #b72924;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 40px;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}